---

---
@charset "utf-8";

body {
    padding: 0;
}

#intro {
    height: 700px;
    background: #080 url(background.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    text-align: center;
	
	div.logo {
		text-align: left;

		h1 {
			margin-top: 0;
		}

		h1 a {
			color: white;
			text-decoration: none;
			font-family: 'Ubuntu Mono';
			font-size: 36pt;
		}
	}
	
	div.profiles {
		text-align: right;
		padding: 5px;
		
		img {
			padding: 8px;
		}
	}
	
	@media (max-width: 780px) {
		div.profiles {
			text-align: center;
		}
	}
	
	div.slogan {
		font-size: 4.5vw;
		color: white;
		width: 50%;
		position: relative;
		margin: 0 auto;
		font-family: 'Sofadi One', cursive;
		top: 40px;
		padding-bottom: 60px;
	}
}

#portfolio {
	h2 {
		padding-top: 15px;
		margin-top: 0;
	}
	
	div.frame {
		width: 300px;
		height: 250px;
		border: 1px solid #888;
		padding: 10px;
		margin: 10px auto;
		-moz-box-shadow: 0px 0px 3px 0px #555; 
		-webkit-box-shadow: 0px 0px 3px 0px #555; 
		box-shadow: 0px 0px 3px 0px #555; 	
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;		
		
		background-color: white;
		-webkit-transition: background 0.7s linear;
        -moz-transition: background 0.7s linear;
        -ms-transition: background 0.7s linear;
        -o-transition: background 0.7s linear;
        transition: background 0.7s linear;
	}

	div.frame:hover {
		background-color: #0f0;
	}
	
	div.content {
		width: 100%;
		height: 100%;
		border: 1px solid black;
		background-color: #030;
		text-align: center;
		position: relative;
		
		img {
		    position: absolute;
			margin: auto;
			top: 0;  
			bottom: 0; 
			left: 0;  
			right: 0; 
		}
	}
}

#perfiles {
    text-align: center;
 
	div.content {
		padding: 10px;
		margin-top: 20px;
		background-color: white;
		border-radius: 15px;
		-moz-border-radius: 15px;
		-webkit-border-radius: 15px;
		box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);    
		-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);    
	}
	
	h2 {
		padding-top: 0;
		margin-top: 0;
	}
}

#contacto {
    text-align: center;
	
	iframe {
		width: 600px;
		margin: 0 auto;
		padding: 5px;
		background-color: white;
		border: 1px solid lightgray;
		border-radius: 15px;
		-moz-border-radius: 15px;
		-webkit-border-radius: 15px;
		box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);    
		-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
	}
}

@media (max-width: 600px) {
    #contacto iframe {
        width: 100%;
    }
}

/* ----- Backgrounds ----- */

div.green_back {
    color: #fff;
    background-color: #080;
    background: url(muffet-green.jpg) repeat top center;   
}

div.light_back {
    color: #000;
    background-color: #e4ffe4;
}

div.border_top {
	height: 13px;				
	width: 100%;
	position: relative;
	background: url(border_top.png) repeat top center; 
}

div.border_bottom {
	height: 13px;
	width: 100%;
	position: relative;
	background: url(border_bottom.png) repeat top center; 
}	

/* ----- Navigation menu ----- */

#menu_container {
    position: relative;
    top: -44px;
}
 
#main_menu {
    position: absolute;
    right: 0;
	width: 430px;
	text-align: center;
    border-top-left-radius: 15px;
    -moz-top-radius-bottomleft: 15px;
    -webkit-top-bottom-left-radius: 15px;
	border-left: 2px solid #8f8;
	border-top: 2px solid #8f8;
}

.menu_simple {
    width: 100%;
    background: #080 url(muffet-dark-green.jpg) repeat top center; 
	
	ul {
		padding: 0;
		margin: 0;
		float: left;
		margin-left: 14px;
	}
	
	ul li {
		display: inline;
	}
	
	ul li a {
		float: left; 
		color: white;
		font-weight: bold;
		padding: 11px 20px;
		text-decoration: none;
		text-shadow: 2px 2px 2px rgba(0, 80, 0, 0.4);
	}
	
	ul li a:visited {
		color: white;
	}
	
	ul li a:hover, .menu_simple ul li .current {
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
		background: #080 url(muffet-green.jpg) repeat top center; 
	}	
}
 
@media (max-width: 430px) {
    #main_menu {
        width: 100%;
        border-top-left-radius: 0;
        -moz-top-radius-bottomleft: 0;
        -webkit-top-bottom-left-radius: 0;
		border-left-width: 0;
    }

    div.moving #main_menu {
		border-top-width: 0;
        border-bottom-right-radius: 15px;
        -moz-border-radius-bottomright: 15px;
        -webkit-border-bottom-right-radius: 15px;
    }
    
    .menu_simple ul li a {
        padding: 11px 16px;
    }
}

div.moving {
    opacity: 0.9;
	
	#main_menu {
		border-top-left-radius: 0;
		-moz-top-radius-bottomleft: 0;
		-webkit-top-bottom-left-radius: 0;
		border-bottom-left-radius: 15px;
		-moz-border-radius-bottomleft: 15px;
		-webkit-border-bottom-left-radius: 15px;
		border-left-width: 0;
		border-top-width: 0;
	}
}

/* ----- Miscellaneous ----- */

h2 a,
h3 a {
    color: black;
    text-decoration: none;
    font-family: 'Sofadi One', cursive;
    margin-left: 20px;
}

h2 a:hover,
h3 a:hover {
    color: black;
    text-decoration: none;
}

h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}

p.nice {
    margin-left: 40px;
    font-family: Arial, Verdana;
    font-size: 11pt;
}
div.row {
    margin-left: 0;
    margin-right: 0;
}

div.proyecto {
    font-family: Arial, Verdana;
    font-size: 11pt;
    position: relative;
	
	td {
		vertical-align: top;
	}
	
	td.first {
		font-weight: bold;
		text-align: right;
		padding-right: 5px;
	}
	
	div.panel-heading {
		padding-top: 3px;
		padding-bottom: 3px;
	}

	div.panel-heading a {
		color: black;
		text-decoration: none;
		padding-top: 3px;
	}
}

div.proyecto > div {
    line-height: 25px;
}

div.icono {
    float: left;
    margin-right: 10px;
	position: relative;
}

div.icono img.sticker {
	position: absolute;
	bottom: 0;
	right: 0;
}

div.contact {
    float: right;
    text-align: center;
    font-size: 11pt;
    margin-right: 5px;
    margin-top: 5px;
}

span.foto_no_diponible {
    width: 96px;
    height: 96px;
    border: 1px solid gray;
    display: block;
}

img.iconito {
    position: relative;
    bottom: 1px;
}

span.label.label-primary a,
span.label.label-info a {
    color: white;
    text-decoration: none;
}

div.panel.panel-success {
	span.label.label-primary {
		background-color: green;
	}
	span.label.label-info {
		background-color: #5BCE5B;
	}
}

div.panel.panel-warning {
	span.label.label-primary {
		background-color: #a8a800;
	}
	span.label.label-info {
		background-color: #cc5;
	}
}
