
body {
    padding: 0;
}

#intro {
    height: 700px;
    background: #080 url(background.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    text-align: center;
}

#intro div.logo {
    text-align: left;
    position: absolute;    
}

#intro h1 a {
    color: white;
    text-decoration: none;
    font-family: 'Ubuntu Mono';
    font-size: 36pt;
}

#slogan {
    font-size: 36pt;
    color: white;
    width: 50%;
    position: relative;
    margin: 0 auto;
    top: 30%;
    font-family: 'Sofadi One', cursive;
}

#perfiles {
    text-align: center;
}

#contacto {
    color: #fff;
    text-align: center;
    background-color: #080;
    background: url(muffet-green.jpg) repeat top center;     
}

#contacto iframe {
    width: 600px;
    margin: 0 auto;
    padding: 5px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-bottom: 15px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);    
}

div.border_top {
    height: 13px;				
    width: 100%;
    position: relative;
    background: url(border_top.png) repeat top center; 
}

div.border_bottom {
    height: 13px;
    width: 100%;
    position: relative;
    background: url(border_bottom.png) repeat top center; 
}

#menu_container {
    position: relative;
    top: -52px;
}
 
#cssmenu {
    position: absolute;
    width: 390px;
    right: 0;
}

div.moving {
    opacity: 0.9;
}

div.moving #cssmenu {
    border-bottom-left-radius: 15px;
    -moz-border-radius-bottomleft: 15px;
    -webkit-border-bottom-left-radius: 15px;
}

h2 a {
    color: black;
    text-decoration: none;
    font-family: 'Sofadi One', cursive;
    margin-left: 20px;
}

p.nice {
    margin-left: 40px;
    font-family: Arial, Verdana;
    font-size: 11pt;
}
div.row {
    margin-left: 0;
    margin-right: 0;
}

div.proyecto {
    font-family: Arial, Verdana;
    font-size: 11pt;
    position: relative;
}

div.proyecto td {
    vertical-align: top;
}

div.proyecto td.first {
    font-weight: bold;
    text-align: right;
    padding-right: 5px;
}

div.proyecto > div {
    line-height: 25px;
}

div.proyecto td.second {
}

div.descripcion {
}

div.icono {
    float: left;
    margin-right: 10px;
}

div.contact {
    float: right;
    text-align: center;
    font-size: 11pt;
    margin-right: 5px;
    margin-top: 5px;
}

span.foto_no_diponible {
    width: 96px;
    height: 96px;
    border: 1px solid gray;
    display: block;
}

img.iconito {
    position: relative;
    bottom: 1px;
}

div.proyecto div.panel-heading{
    padding-top: 3px;
    padding-bottom: 3px;
}

div.proyecto div.panel-heading a {
    color: black;
    text-decoration: none;
    padding-top: 3px;
}

span.label.label-info a {
    color: white;
    text-decoration: none;
}