---
layout: default
title: KudaLab
subtitle: Development of web, mobile and open source software
caption: Development of web, mobile and open source software
googleAnalyticsCode: UA-49400910-2
categories:
  - name: Mobile and HTML5 apps
    type: app
    class: blue
  - name: Web applications
    type: webapp
    class: green
  - name: Games
    type: game
    class: magenta
  - name: Libraries and plugins
    type: other
    class: cyan
---

<script type="text/javascript">
	$(document).ready(function() {
		var myBubbles = [];
	
		// Show details bubble when clicking a project.
		$("#proyectos div.row a").click(function() {
			// Get project's id and href.
			var href = $(this).attr("href");
			var id = $(this).attr("data-id");
			
			// Verify which type of link is.
			if(href == "#") {
				// It's a link for show or hide a bubble. Get project's id.
				var id = $(this).attr("data-id");
			
				// Verify if the bubble is not already being displayed.
				if(myBubbles.length == 0 || myBubbles[0] != id) {
					// Hide previous bubbles.
					for(var i=0; i<myBubbles.length; i++) {
						$("#bubble-"+myBubbles[i]).fadeOut();
					}
					myBubbles = [];
					
					// Verify if the id is valid.
					if(id != null) {
						// Calculate vertical position of bubble.
						var frameHeight = $("#frame-" + id).height();
						var bubbleHeight = $("#bubble-" + id).height();
						$("#bubble-"+id).css('top', (frameHeight - bubbleHeight + 25)/2 + 'px');
						
						// Show bubble.
						myBubbles.push(id);
						$("#bubble-"+id).fadeIn();
					
						// Report event to google analytics.
						ga('send', 'event', 'link', 'dialog', id, 1);
					}
				}
				
				return false;
			} else {
				// It's a regular link.
				return true;
			}
		});
	});
</script>

<div id="intro">
	<div class="row">
		<div class="logo col-sm-6">
			<h1><a name="top">
				<img src="img/kuda.png" alt="" title="{{ page.title }} - {{ page.subtitle }}"/>
				{{ page.title }}
			</a></h1>
		</div>
		<div class="profiles col-sm-6">
			<a href="https://github.com/jfmdev" title="KudaLab at GitHub" target="_blank">
				<img src="img/links/github_48_white.png" class="iconito" alt=""/>
			</a>
			<a href="https://play.google.com/store/apps/developer?id=KudaLab" title="KudaLab at Google Play" target="_blank">
				<img src="img/links/google_play_48.png" class="iconito" alt=""/>
			</a>
			<a href="https://marketplace.firefox.com/search?author=KudaLab" title="KudaLab at Firefox Marketplace" target="_blank">
				<img src="img/links/firefox_marketplace_48.png" class="iconito" alt=""/>
			</a>
			<a href="http://www.amazon.com/s/ref=bl_sr_mobile-apps/182-9019147-6851629?_encoding=UTF8&field-brandtextbin=KudaLab&node=2350149011" title="KudaLab at Amazon" target="_blank">
				<img src="img/links/amazon_48_white.png" class="iconito" alt=""/>
			</a>
			<a href="https://vimeo.com/user27819004" title="KudaLab at Vimeo" target="_blank">
				<img src="img/links/vimeo_48.png" class="iconito" alt=""/>
			</a>			
		</div>
	</div>
	<div class="slogan">{{ page.caption }}</div>
	<div class="navigation-tip">
		Scroll down
		<br/>to continue
		<br><img src="img/down-arrow.png" alt="" style="margin-top:5px;"/>
	</div>
</div>

<div id="menu_container" style="z-index:40">
	<div id="main_menu" class="menu_simple">
		<ul>
		   <li><a href="#top">Top</a></li>
		   <li><a href="#apps">Apps</a></li>
		   <li><a href="#webapps">Webapps</a></li>
		   <li><a href="#games">Games</a></li>
		   <li><a href="#others">Others</a></li>
		   <li><a href="#contact">Contact</a></li>
		</ul>
	</div>
</div>

<br/>

<div id="proyectos">
	{% for category in page.categories %}
		<h2><a name="{{ category.type }}s">{{ category.name }}</a></h2>
		
		<br/>
		
		<div class="row">
			{% for proj in site.data.projects %}
				{% if proj.type == category.type %}					
					<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="frame {{ category.class }}" id="frame-{{ proj.id }}">
							<a href="#" data-id="{{ proj.id }}">
								<div class="content">
									<div class="title">
										<strong>{{ proj.name }}</strong>
									</div>
									<div class="body">
										<div class="icon">
											<img src="{{ proj.icon }}" alt="" title="{{ proj.name }} - {{ proj.caption }}"/>
											{% if proj.sticker != null %}
												<img src="{{ proj.sticker }}" class="sticker" alt=""/>
											{% endif %}
										</div>
										<div class="description">
											{{ proj.introduction }}
										</div>
									</div>
									<div class="more">
										+ more info
									</div>
								</div>
							</a>
							
							<div id="bubble-{{ proj.id }}" class="bubble">
								<a href="#" class="close_button">X</a>
								<div class="name">{{ proj.name }}</div>
								<div class="text">{{ proj.description }}</div>
								
								{% if proj.techs != null %}
									<div class="techs">
										<strong>Technologies</strong><br/>
										{% for tech in proj.techs %}
											<span class="label {{ tech.type }}">{{ tech.name }}</span> 
										{% endfor %}
									</div>
								{% endif %}

								{% if proj.links != null %}
									<div class="links">
										<strong>Links</strong><br/>
										{% for link in proj.links %}
											<span class="label {{ link.type }}"><a href="{{ link.href }}" target="_blank">
											{% for icon in site.data.linkIcons %}
												{% if icon[0] == link.title %}
													<img src="{{ icon[1] }}" class="iconito" alt=""/>
												{% endif %}
											{% endfor %}
											{{ link.title }}</a></span>  
										{% endfor %}
									</div>
								{% endif %}
							
								<div class="close_text"><a href="#">Close</a></div>
							</div>
						</div>
					</div>
				{% endif %}			
			{% endfor %}
		</div>
	{% endfor %}
</div>
	
<br/>

<div id="contacto" class="green_back">
	<div class="border_bottom"></div>
	
	<a name="contact">&nbsp;</a>
	
	<br/>
	
	<iframe height="380" allowTransparency="true" frameborder="0" scrolling="no" src="https://kudalab.wufoo.com/embed/zg46l3l0zvmmrs/">
		<p class="nice">If you have any doubt about a project or you need a developer, do not hesitate in 
		<a href="https://kudalab.wufoo.com/forms/zg46l3l0zvmmrs/" title="KudaLab - Contact">send a message.</a><p/>
	</iframe>

	<br/> &nbsp;
</div>	